body{
    font-family: 'Open Sans',sans-serif;
}
.intro{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url("https://images01.nicepage.com/2c/aa/2caae017a61202f87bc36fab57e85a63.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60vh;
    padding: 200px 250px 0 250px;
}

.text1{
    color: #F4CB08;
}

.text2{
    font-size: 5vh;
    text-transform: uppercase;
    color: white;
}

.button1{
    background-color: #F4CB08;
    border-color: #F4CB08;
    border-radius: 5px ;
    color: white;
    margin: 10px 15px;
    padding: 10px 15px;
}

.button2{
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 5px ;
    margin: 10px 15px;
    padding: 10px 15px;
}

.image1{
    width: 300px;
    margin-top: -336px; 
    margin-left: 700px;
    margin-right: 12px;
    margin-bottom: -60px;
    position: relative;
}

.p1{
    color:white;
    font-size: 2vh;
}

.introText{
    position: relative;
    padding: 100px 16px 0px 13px;
}

.aboutMe{
    display: flex;
    flex-direction: row;
}

.aboutMe > div{
    margin: 100px;
}